@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}
.thumbnail {
  width: 300px;
  display: block;
}

.barra-pesquisa {
  display: block;
}

.titulo-video {
  margin-top: 0px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

.autor-video,
.atributos-video {
  font-size: 12px;
  color: rgb(96, 96, 96);
}
.autor-video {
  margin-bottom: 4px;
}
.atributos-video {
}

.visualizacao-video {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}

.icone-canal {
  display: inline-block;
  width: 50px;
  vertical-align: top;
}

.info-video {
  display: inline-block;
  width: 200px;
}

.icone-perfil {
  width: 40px;
  border-radius: 50px;
}

.linha-thumbnail {
  margin-bottom: 12px;
}
